{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}